<nav class="flex items-center text-sm leading-4 font-medium">
    <a 
        href="{{ shop.url }}" 
        title="{{ shop.name | escape }}"
        class="text-font-color-500 hover:text-font-color-700"
    >
        {{ 'general.breadcrumbs.home' | t }}
    </a>
    
    {% include 'icons', name: 'chevron-right', size: 'w-4 h-4 text-font-color-400' %}

    {% if template contains 'product' %}
        <a 
            href="{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}" 
            title="{{ collection.title | escape }}"
            class="text-font-color-500 hover:text-font-color-700"
        >
            {% unless collection.title %} {{ 'general.breadcrumbs.all' | t }} {% else %} {{ collection.title }} {% endunless %}
        </a>

        {% if current_tags %}
            {% include 'icons', name: 'chevron-right', size: 'w-4 h-4 text-font-color-400' %}
            {% for tag in current_tags %}
                <a 
                    href="/collections/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}"
                    title="{{ tag | escape }}"
                    class="text-font-color-500 hover:text-font-color-700"
                >
                    {{ tag }}
                </a>
            {% endfor %}
        {% endif %}

        {% include 'icons', name: 'chevron-right', size: 'w-4 h-4 text-font-color-400' %}
        <span>
            {{ product.title }}
        </span>
    {% elsif template contains 'collection' %}
        <a 
            href="{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}" 
            title="{{ collection.title | escape }}"
            class="text-font-color-500 hover:text-font-color-700"
        >
            {% unless collection.title %} {{ 'general.breadcrumbs.all' | t }} {% else %} {{ collection.title }} {% endunless %}
        </a>

    {% elsif template contains 'search' %}
        <a 
            href="{{ routes.search_url }}" 
            title="{{ 'general.search.title' | t | escape }}"
            class="text-font-color-500 hover:text-font-color-700"
        >
            {{ 'general.search.title' | t }}
        </a>
    {% elsif type == 'article' %}
        <a 
            href="{{ blog.url }}" 
            title="{{ blog.title | escape }}"
            class="text-font-color-500 hover:text-font-color-700"
        >
            {{ blog.title }}
        </a>
    {% endif %}
</nav>


<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "BreadcrumbList",
        "itemListElement": [
            {
            "@type": "ListItem",
            "position": 1,
            "item": {
                    "@id": "{{ shop.url }}",
                    "name": "{{ 'general.breadcrumbs.home' | t }}"
                }
            },

            {% if template contains 'product' %}
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                        {% if collection %}
                            "@id": "{{ collection.url }}",
                            "name": "{{ collection.title }}"
                        {% else %}
                            "@id": "{{ routes.all_products_collection_url }}",
                            "name": "{{ collections.all.title }}"
                        {% endif %}
                    }
                },
                {
                    "@type": "ListItem",
                    "position": 3,
                    "item": {
                        "@id": "{{ product.url }}",
                        "name": "{{ product.title | escape }}"
                    }
                }
            {% elsif template contains 'collection' %}
                {
                    "@type": "ListItem",
                    "position": 2,
                    "item": {
                        "@id": "{{ shop.url }}{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}",
                        "name": "{{ collection.title }}"
                    }
                }
                {% if current_tags %}
                    {% for tag in current_tags %}
                        {% unless tag contains 'meta-' %}
                        ,
                        {
                            "@type": "ListItem",
                            "position": {{ forloop.index | plus: 2 }},
                            "item": {
                            "@id": "{{ shop.url }}{{ routes.collections_url }}/{% if collection.handle != blank %}{{ collection.handle }}{% else %}all{% endif %}/{{ tag | handleize }}",
                                "name": "{{ tag }}"
                            }
                        }
                        {% endunless %}
                    {% endfor %}
                {% endif %}
            {% elsif type == 'article' %}
                {
                "@type": "ListItem",
                "position": 2,
                "item": {
                    "@id": "{{ blog.url }}",
                    "name": "{{ blog.title }}"
                }
                }
            {% endif %}  
        ]
    }
</script>