{% if paginate.pages > 1 %}


<div>
  <nav 
    class="border-t border-gray-200 px-4 flex items-center justify-between" 
    role="navigation" 
    aria-label="pagination"
  >
  <div class="flex-1 flex">
    {%- if paginate.previous-%}
      <a 
        href="{{ paginate.previous.url }}" 
        class="border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm leading-5 text-font-color-600 hover:text-font-color-700 hover:border-gray-300 focus:outline-none focus:text-font-color-700 focus:border-gray-400 transition ease-in-out duration-150"
      >
        <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 20 20"><path d="M7.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd" fill-rule="evenodd"></path></svg>
        {{ 'general.pagination.previous' | t }}
      </a>
    {% endif %}
  </div>
  <div class="hidden md:flex">
    {%- for part in paginate.parts -%}
      {% if part.is_link %}
          <a 
            class=" border-t-2 border-transparent pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-font-color-600 hover:text-font-color-700 hover:border-gray-300 focus:outline-none focus:text-font-color-700 focus:border-gray-400 transition ease-in-out duration-150" 
            href="{{ part.url }}"
          >{{ part.title }}</a>
      {% elsif part.title == '&hellip;' %}
          <span class="border-t-2 border-transparent pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-font-color-600">&hellip;</span>
      {% else %}
        <span
          class=" border-t-2 border-primary-700 pt-4 px-4 inline-flex items-center text-sm leading-5 font-medium text-font-color-600 hover:text-font-color-700 hover:border-gray-300 focus:outline-none focus:text-font-color-700 focus:border-gray-400 transition ease-in-out duration-150" 
          href="{{ part.url }}"
        >{{ part.title }}</span>
      {% endif %}
    {% endfor %}
  </div>
  <div class="flex-1 flex justify-end">
    {%- if paginate.next-%}
      <a 
        href="{{ paginate.next.url }}" 
        class="border-t-2 border-transparent pt-4 pr-1 inline-flex items-center text-sm leading-5 text-font-color-600 hover:text-font-color-700 hover:border-gray-300 focus:outline-none focus:text-font-color-700 focus:border-gray-400 transition ease-in-out duration-150"
      >
        {{ 'general.pagination.next' | t }}
        <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 20 20"><path d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" fill-rule="evenodd"></path></svg>
      </a>
    {% endif %}
  </div>

  </nav>  
</div>


{% endif %}

