<div class="container mx-auto px-2 sm:px-4 xl:px-0 mt-4">
  <div class="grid gap-4 {{ per_row_sm }} {{ per_row_md }} {{ per_row_lg }}">

    {% for product in products limit: limit %}
      {% include 'product-card-grid', hide_add_to_cart: hide_add_to_cart %}
    {% endfor %}
  
  </div>
</div>
  

<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "OfferCatalog",
    "itemListElement": [
      {% for product in products limit: for_limit %}
        {
          "@type": "ListItem",
          "position": "{{ forloop.index | json }}",
          "url": "{{ shop.url }}{{ product.url }}",
          "name": "{{ product.title }}"
        } {%- unless forloop.last -%},{%- endunless -%}
      {% endfor %}
    ]
  }
</script>