{% paginate blog.articles by 12 %}


<div class="container mx-auto px-2 sm:px-4 xl:px-0 py-8">
    <div class="">
        <h1 
            class="text-4xl font-extrabold leading-tight text-font-color-darkest mb-4 {{ section.settings.header_alignment }}"
        >
            {{ page_title }}
        </h1>
        
        <div class="flex flex-wrap -mx-4 mt-12">
            {% for article in blog.articles %}
                <div class="w-full {% if section.settings.layout == 'grid' %}md:w-1/2 lg:w-1/3{% endif %}">
                    <div class="p-4">
                        <a href="{{ article.url }}">
                            {% if article.image %}
                                {% include 'image', image_object: article.image, alt: article.image.alt, class: "w-full mb-4" %}
                            {% endif %}
                            
                            <div class="prose max-w-full">
                                <h2 class="text-font-color-darkest">
                                    {{ article.title | escape }}
                                </h2>
                            </div>
                        </a>
    
                        <div class="">
                            <div class="flex justify-between text-font-color-light">
                                <div>
                                    {% if section.settings.blog_show_author %}
                                        <div class="h-10">
                                            {{ 'blogs.article.by_author' | t: author: article.author }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div>
                                    {% if section.settings.blog_show_date %}
                                        <div class="h-10">
                                            {{ article.published_at | time_tag: format: 'date' }}
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
    
                            <div class="prose max-w-full">
                                {% if article.excerpt.size > 0 %}
                                    {{ article.excerpt }}
                                {% else %}
                                    {{ article.content | strip_html | truncate: 150 }}
                                {% endif %}
                            </div>
    
                            <div class="mt-4">
                                <a 
                                    href="{{ article.url }}" 
                                    class="border-black border border-gray-300 rounded px-4 py-1 leading-none text-sm hover:bg-gray-200" 
                                    aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}"
                                >
                                    {{ 'blogs.article.read_more' | t }}
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{%- if paginate.pages > 1 -%}
  {% include 'pagination', paginate: paginate %}
{%- endif -%}

{% endpaginate %}

<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "ItemList",
      "itemListElement": [
        {% for article in blog.articles %}
          {
            "@type": "ListItem",
            "position": "{{ forloop.index | json }}",
            "url": "{{ shop.url }}{{ article.url }}",
            "name": "{{ article.title }}"
          } {%- unless forloop.last -%},{%- endunless -%}
        {% endfor %}
      ]
    }
  </script>



{% schema %}
{
  "name": {
    "en": "Blog pages"
    
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": {
        "en": "Layout"
        
      },
      "default": "list",
      "options": [
        {
          "value": "grid",
          "label": {
            "en": "Grid"
          }
        },
        {
          "value": "list",
          "label": {
              "en": "List"
          }
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
          "en": "Show author"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "en": "Show date"
      },
      "default": true
    }
  ]
}
{% endschema %}
