{% if section.settings.sticky_header %}
    <div class="h-14 lg:h-16 w-full"></div>
{% endif %}

<div 
    @click="search_open = false; search_query = '';" 
    x-show="search_open" 
    x-transition:enter="transition-opacity ease-linear duration-200" 
    x-transition:enter-start="opacity-0" 
    x-transition:enter-end="opacity-100" 
    x-transition:leave="transition-opacity ease-linear duration-200" 
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0" 
    class="fixed inset-0 z-30" 
    x-cloak
>
    <div class="absolute inset-0 bg-gray-600 opacity-50"></div>
</div>

<nav 
    class="
        shadow 
        {% if section.settings.sticky_header %}fixed top-0 inset-x-0 z-30{% endif %}
    "
    style="background-color: {{ section.settings.background_color }}"
>
    <div class="container mx-auto px-2 sm:px-4 xl:px-0">
        <div class="flex justify-between h-14 lg:h-16">
            <div class="flex lg:hidden">
                <button
                    @click="menu_open = !menu_open"
                    class="inline-flex items-center justify-center rounded-md text-font-color-light focus:outline-none transition duration-150 ease-in-out"
                    aria-label="{{ "general.button_labels.menu" | t }}"
                >
                    <svg class="h-8 w-8 fill-current text-font-color-dark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path class="inline-flex" fill-rule="evenodd" d="M4 5h16a1 1 0 010 2H4a1 1 0 110-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2zm0 6h16a1 1 0 010 2H4a1 1 0 010-2z"/>
                    </svg>
                </button>
            </div>
            <div class="flex px-2 lg:px-0">
                <div class="flex items-center">
                    {% if section.settings.logo %}
                        <a href="{{ shop.url }}" title="{{ shop.name }}" class="inline-flex items-center" style="max-width: {{ section.settings.logo_max_width }}px;">
                            {% include 'image', image_object: section.settings.logo, alt: section.settings.logo.alt %}
                        </a>
                    {% else %}
                        <a 
                            href="{{ shop.url }}" title="{{ shop.name }}" 
                            class="font-black text-sm md:text-xl"
                            style="font-size: {{ section.settings.logo_font_size }};"
                        >
                            {% if section.settings.header_text %}
                                {{ section.settings.header_text }}
                            {% else %}
                                {{ shop.name }}
                            {% endif %}
                        </a>
                    {% endif %}
                </div>
                <div class="hidden lg:ml-6 lg:flex items-center">
                    {% for link in linklists[section.settings.main_linklist].links %}
                        {% assign child_list_handle = link.title | handleize %}

                        <div
                            {% if linklists[child_list_handle].links != blank %}
                                x-data="{ isOpen: false }"
                                @mouseenter="isOpen = true"
                                @mouseleave="isOpen = false"
                            {% endif %}
                            class="ml-8 relative"
                        >
                            <a 
                                href="{{ link.url }}"
                                class="inline-flex items-center px-1 pt-1 border-b-2 border-transparent text-sm font-medium leading-5 text-font-color-light hover:text-font-color-dark hover:border-gray-300 focus:outline-none focus:text-font-color-dark transition duration-200" 
                            >
                                {{ link.title }}

                                {% if linklists[child_list_handle].links != blank %}
                                    <svg 
                                        class="w-4 h-4 ml-1" 
                                        fill="none" 
                                        stroke="currentColor" 
                                        viewBox="0 0 24 24" 
                                        xmlns="http://www.w3.org/2000/svg"
                                    >
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                                    </svg>
                                {% endif %}
                            </a>
    
                            {% if linklists[child_list_handle].links != blank %}
                                <div 
                                    x-show="isOpen"
                                    class="absolute top-full shadow z-30"
                                    style="background-color: {{ section.settings.background_color }}"
                                    x-cloak
                                >
                                    {% for childlink in linklists[child_list_handle].links %}
                                        <a 
                                            class="p-2 pr-12 block whitespace-nowrap border-b-1 text-sm font-medium leading-5 text-font-color-light hover:text-font-color-dark focus:outline-none focus:text-font-color-dark transition duration-200" 
                                            href="{{ childlink.url }}"
                                        >
                                            {{ childlink.title }}
                                        </a>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div
                x-cloak
                {% if section.settings.search_desktop == 'icon' %}
                    class="hidden absolute md:relative md:flex lg:absolute mt-14 md:mt-0 lg:mt-20 inset-x-0 mx-2 flex-1 items-center px-2 lg:ml-6 justify-center"
                    :class="{'flex': search_open, 'hidden lg:hidden': !search_open}"
                {% else %}
                    class="hidden absolute md:relative md:flex mt-14 md:mt-0 inset-x-0 mx-2 flex-1 items-center px-2 lg:ml-6 md:justify-end"
                    :class="{'flex': search_open, 'hidden': !search_open}"
                {% endif %}
            >   
                <form 
                    action="/search" 
                    method="get" 
                    class="w-full mt-2 md:mt-0 md:max-w-sm {% if section.settings.search_desktop == 'search_bar' %}lg:max-w-xs{% endif %}" 
                    role="search"
                    @click.away="search_open = false"
                >
                    <label for="search" class="sr-only">{{ "general.search.placeholder" | t }}</label>
                    <div class="relative">
                        <button type="submit" class="absolute inset-y-0 left-0 pl-3 flex items-center cursor-pointer">
                            <svg class="h-6 w-6 text-font-color-light" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                        </button>
                        <input 
                            id="search"
                            name="q"
                            class="block w-full pl-10 pr-2 py-2 border border-gray-300 rounded-md leading-5 bg-white placeholder-gray-500 focus:outline-none focus:placeholder-gray-400 focus:shadow-outline-blue sm:text-sm transition duration-150 ease-in-out" 
                            placeholder="{{ "general.search.placeholder" | t }}"
                            x-model="search_query"
                            x-on:input.debounce.150ms="search()"
                            autocomplete="off"
                            x-ref="search_bar"
                            @click="search_results_show = search_results.products.length > 0 ? true : false"
                        />
                        <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />


                        <div
                            class="absolute inset-y-0 right-0 pr-3 flex items-center cursor-pointer"
                            x-show="search_query.length"
                            @click="clear_search()"
                            x-cloak
                        >
                            <svg class="w-4 h-4 text-font-color-light" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
                        </div>

                        <div
                            x-show="search_results_show"
                            class="absolute top-0 right-0 max-height-search overflow-auto mt-10 border rounded shadow w-full"
                            style="background-color: {{ section.settings.background_color }}"
                            @click.away="search_results_show = false"
                            x-cloak
                        >
                            <template
                                x-for="(product, index) in search_results.products"
                                :key="index"
                            >
                                <a :href="product.url" class="flex p-4 hover:bg-gray-200">
                                    <img 
                                        class="w-24 mr-4"
                                        :src="product.featured_image.url" 
                                        :alt="product.featured_image.alt"
                                    >
                                    <div class="-mt-1">
                                        <div class="font-bold" x-text="product.title"></div>
                                        <div x-html="formatMoney(product.price)"></div>
                                    </div>
                                </a>
                            </template>

                            <button 
                                x-show="search_results.products.length == 10" 
                                class="w-full text-center hover:bg-gray-200"
                            >{{ "general.search.show_more" |t }}</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="flex items-center lg:hidden">
                <button
                    @click="
                        search_open = !search_open;
                        search_query = '';
                        $nextTick(() => {refs.search_bar.focus()});
                    "
                    aria-label="{{ "general.button_labels.search" | t }}"
                    class="inline-flex md:hidden items-center justify-center p-2 rounded-md focus:outline-none transition duration-150 ease-in-out"
                >
                    <svg class="h-6 w-6 text-font-color-dark" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                </button>
                <a 
                    href="/cart"
                    @click.prevent="cart_drawer = true"
                    class="block relative rounded-full text-font-color-dark hover:text-font-color-darkest focus:outline-none focus:text-font-color-light transition duration-150 ease-in-out"
                >
                    {% include "icons", name: section.settings.header_cart_icon, size: "h-6 w-6 fill-current" %}
                    <span
                        x-cloak
                        x-show="cart_items_count > 0"
                        x-text="cart_items_count"
                        class="text-xxs text-button-primary-text leading-none px-1 py-1 bg-button-primary rounded-full absolute top-0 -mt-1 right-0 -mr-1 flex items-center justify-center"
                    ></span>
                </a>
            </div>
            <div 
                class="hidden lg:ml-4 lg:flex lg:items-center"
            >
                <button
                    @click="
                        search_open = !search_open;
                        search_query = '';
                        $nextTick(() => {refs.search_bar.focus()});
                    "
                    class="hidden {% if section.settings.search_desktop == 'icon' %}lg:inline-flex{% endif %} items-center justify-center p-2 rounded-md text-font-color-light focus:outline-none transition duration-150 ease-in-out"
                >
                    <svg class="h-6 w-6 text-font-color-light" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                </button>

                <a 
                    href="/cart"
                    @click.prevent="cart_drawer = true"
                    class="block relative rounded-full text-font-color-dark hover:text-font-color-darkest focus:outline-none focus:text-font-color-light transition duration-150 ease-in-out"
                    aria-label="{{ "general.button_labels.cart" | r }}"
                >
                    {% include "icons", name: section.settings.header_cart_icon, size: "h-6 w-6 fill-current" %}
                    <span
                        x-show="cart_items_count > 0"
                        x-text="cart_items_count"
                        x-cloak
                        class="text-xxs text-button-primary-text leading-none px-1 py-1 bg-button-primary rounded-full absolute top-0 -mt-1 right-0 -mr-1 flex items-center justify-center"
                    ></span>
                </a>
            </div>
        </div>
    </div>

    <div >
        <div
            class="fixed inset-y-0 right-0 z-40"
            x-show="menu_open"
            x-cloak
        >
            <div class="fixed inset-0 flex justify-start">
                <div 
                    @click="menu_open = false" 
                    x-show="menu_open" 
                    x-transition:enter="transition-opacity ease-linear duration-200" 
                    x-transition:enter-start="opacity-0" 
                    x-transition:enter-end="opacity-100" 
                    x-transition:leave="transition-opacity ease-linear duration-200" 
                    x-transition:leave-start="opacity-100"
                    x-transition:leave-end="opacity-0" 
                    class="fixed inset-0" 
                >
                    <div class="absolute inset-0 bg-gray-600 opacity-50"></div>
                </div>
    
                <div 
                    x-show="menu_open" 
                    x-transition:enter="transition ease-in-out duration-200 transform" 
                    x-transition:enter-start="-translate-x-full" 
                    x-transition:enter-end="translate-x-0" 
                    x-transition:leave="transition ease-in-out duration-300 transform" 
                    x-transition:leave-start="translate-x-0" 
                    x-transition:leave-end="-translate-x-full" 
                    class="relative flex-1 flex flex-col max-w-md w-full"
                    style="background-color: {{ section.settings.background_color }}"
                >
                    <div class="flex items-center border">
                        <button 
                            @click="menu_open = false"
                            class="flex items-center justify-center h-10 w-10 border-r focus:outline-none" 
                        >
                            <svg class="h-6 w-6 text-font-color-darkest" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                        <div class="font-bold flex-grow flex justify-center items-center">
                            {% if section.settings.header_text %}
                                {{ section.settings.header_text }}
                            {% else %}
                                {{ shop.name }}
                            {% endif %}
                        </div>
                        <div class="h-10 w-10 border-l border-transparent"></div>
                    </div>

                    <div class="pt-5 px-2 flex-1 overflow-y-auto relative">
                        {% for link in linklists[section.settings.drawer_menu].links %}
                            {% assign child_list_handle = link.title | handleize %}
                            <div
                                {% if linklists[child_list_handle].links != blank %}
                                    x-data="{ isOpen: false }"
                                {% endif %}
                            >
                                <a 
                                    class="mt-1 flex justify-between items-center block pl-3 py-2 text-base font-medium text-font-color-dark focus:outline-none focus:text-font-color-darkest" 
                                    href="{{ link.url }}"
                                >
                                    {{ link.title }}

                                    {% if linklists[child_list_handle].links != blank %}
                                        <span 
                                            @click.prevent=" isOpen = !isOpen" 
                                            class="p-3 cursor-pointer text-font-color-dark" 
                                        >
                                            <svg 
                                                class="h-6 w-6 transform transition duration-200 ease-in-out" 
                                                :class="{ '-rotate-45' : isOpen }" 
                                                fill="none" 
                                                viewBox="0 0 24 24" 
                                                stroke="currentColor"
                                            >
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                                            </svg>
                                        </span>
                                    {% endif %}
                                </a>
                                
                                {% if linklists[child_list_handle].links != blank %}
                                    <div 
                                        x-show="isOpen"
                                        x-cloak
                                    >
                                        {% for childlink in linklists[child_list_handle].links %}
                                            <a 
                                                class="mt-1 block pl-6 pr-4 py-2 text-base font-medium text-font-color-dark focus:outline-none focus:text-font-color-darkest" 
                                                href="{{ childlink.url }}"
                                                >
                                                    {{ childlink.title }}
                                                </a>
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        {% endfor %}

                    </div>

                </div>
            </div>
        </div>
    </div>
</nav>

{% schema %}
{
  "name": {
    "en": "Header"
  },
  "settings": [
    {
        "type": "header",
        "content": "Color"
    },
    {
        "type": "color",
        "id": "background_color",
        "label": "Background color",
        "default": "#ffffff"
    },
    {
        "type": "header",
        "content": "Logo"
    },
    {
        "type": "text",
        "id": "header_text",
        "label": "Logo",
        "default": "AirThemeOne"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": {
        "en": "Logo image"
      }
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "en": "Logo width"
      },
      "min": 50,
      "max": 250,
      "step": 5,
      "unit": "px",
      "default": 100
    },
    {
      "type": "range",
      "id": "logo_font_size",
      "label": {
        "en": "Font Size"
      },
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 20
    },
    {
        "type": "checkbox",
        "id": "sticky_header",
        "label": {
            "en": "Sticky Header"
        },
        "default": true
    },
    {
        "type": "header",
        "content": "Menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "en": "Menu"
      },
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "drawer_menu",
      "label": {
        "en": "Mobile Menu"
      }
    },
    {
        "type": "header",
        "content": {
            "en": "Search"
        }
    },
    {
        "type": "select",
        "id": "search_desktop",
        "label": "Desktop - Show",
        "default": "search_bar",
        "options": [{
            "value": "search_bar",
            "label": "Search bar"
          },
          {
            "value": "icon",
            "label": "Icon"
          }
        ]
    },
    {
        "type": "header",
        "content": "Logo"
    },
    {
        "type": "select",
        "id": "header_cart_icon",
        "label": "Cart icon",
        "default": "bag",
        "options": [{
            "value": "bag",
            "label": "Bag"
          },
          {
            "value": "cart",
            "label": "Cart"
          }
        ]
    }
  ]
}
{% endschema %}

