<div class="container mx-auto px-2 sm:px-4 xl:px-0 mt-12">
    {% if section.settings.logo %}
        {%- assign img_url = section.settings.logo | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
        
        <a href="{{ routes.root_url }}" itemprop="url" class="site-header__logo-image">
            {% capture logo_alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
            <img 
                sizes="auto"
                src="{{ section.settings.logo | img_url: '768x' }}"
                srcset="{{ section.settings.logo | img_url: '320x' }} 320w,
                    {{ section.settings.logo | img_url: '640x' }} 640w,
                    {{ section.settings.logo | img_url: '768x' }} 768w,
                    {{ section.settings.logo | img_url: '1024x' }} 1024w,
                    {{ section.settings.logo | img_url: '1280x' }} 1280w"    
                width="1280"
                alt="{{ section.settings.logo.alt | escape }}"
                style="max-width: {{ section.settings.logo_max_width }}px"
            >
        </a>
    {% else %}
        <h1 class="text-4xl font-black">
            {{ shop.name }}
        </h1>
    {% endif %}
  
    <h2 class="text-2xl font-bold">{{ section.settings.header | escape }}</h2>
</div>
  
{% unless shop.password_message == blank %}
<div class="container mx-auto px-2 sm:px-4 xl:px-0 mt-12">
	<div class="">
		{{ shop.password_message }}
	</div>
</div>
{% endunless %}
  
{% if section.settings.newsletter_enable %}
	<div class="container mx-auto px-2 sm:px-4 xl:px-0 mt-8">
        <h3 class="text-xl">
            {{ section.settings.newsletter_form_heading | escape }}
        </h3>

        {% if section.settings.newsletter_form_subheading != blank %}
            <div class="text-lg">{{ section.settings.newsletter_form_subheading }}</div>
        {% endif %}

		{% form 'customer', id: 'ContactPassword', class: '' %}
		
			{%- assign formId = 'PasswordNewsletterForm' -%}
			
			<input type="hidden" name="contact[tags]" value="prospect, password page">
	
			{%- if form.posted_successfully? -%}
				<p class="bg-green-100 text-green-600 rounded p-4 mb-4" tabindex="-1" data-form-status>
					{{ 'general.newsletter_form.confirmation' | t }}
				</p>
			{%- endif -%}
	
			<div class="flex max-w-lg mt-4">
				<input 
					type="email"
					name="contact[email]"
					id="{{ formId }}-email"
					class="rounded-md border border-gray-300 shadow-sm focus:border-button-primary h-12 focus:outline-none focus:shadow-none rounded-r-none block w-full{% if form.errors %} border-red-500{% endif %}"
					value="{{ form.email }}"
					placeholder="{{ 'general.newsletter_form.email_placeholder' | t }}"
					aria-label="{{ 'general.newsletter_form.email_placeholder' | t }}"
					aria-required="true"
					autocorrect="off"
					autocapitalize="off"
					{% if form.errors %}
					aria-invalid="true"
					aria-describedby="{{ formId }}-email-error"
					data-form-status
					{% endif %}
				>
				<button 
					type="submit" 
					class="inline-flex items-center px-4 h-12 border border-gray-300 border-transparent font-medium rounded-r-md text-button-primary-text bg-button-primary hover:bg-button-primary-hover focus:outline-none focus:bg-button-primary-hover focus:shadow-outline-primary active:bg-button-primary-hover transition ease-in-out duration-150"
					name="commit" 
				>
					{{ 'general.newsletter_form.submit' | t }}
				</button>
			</div>
			{%- if form.errors contains 'email' -%}
				<div 
					id="{{ formId }}-email-error"
					class="text-red-500"
				>
					<span class="hidden">{{ 'general.accessibility.error' | t }} </span>
					<span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
				</div>
			{%- endif -%}
	
		{% endform %}
	</div>
	
{% endif %}

  
{% schema %}
{
	"name": {
		"en": "Password Page"
	},
	"settings": [{
			"type": "header",
			"content": "Header"
		},
		{
			"type": "image_picker",
			"id": "logo",
			"label": {
				"en": "Logo image"
			}
		},
		{
			"type": "range",
			"id": "logo_max_width",
			"label": {
				"en": "Custom logo width"
			},
			"min": 50,
			"max": 500,
			"step": 10,
			"unit": "px",
			"default": 100
		},
		{
			"type": "text",
			"id": "header",
			"label": {
				"en": "Heading"
			},
			"default": {
				"en": "Coming Soon"
			}
		},
		{
			"type": "header",
			"content": "Content"
		},
		{
			"type": "checkbox",
			"id": "newsletter_enable",
			"label": {
				"en": "Show newsletter signup"
			},
			"default": true
		},
		{
			"type": "text",
			"id": "newsletter_form_heading",
			"label": {
				"en": "Newsletter form heading"
			},
			"default": {
				"en": "Be the first to know when we launch."
			}
		},
		{
			"type": "richtext",
			"id": "newsletter_form_subheading",
			"label": {
				"en": "Subheading"
			},
			"default": {
				"en": "<p>A short sentence describing what someone will receive by subscribing</p>"
			}
		},
		{
			"type": "text",
			"id": "newsletter_placeholder",
			"label": {
				"en": "Newsletter placeholder text"
			},
			"default": {
				"en": "Email address"
			}
		},
		{
			"type": "text",
			"id": "newsletter_button_text",
			"label": {
				"en": "Newsletter button text"
			},
			"default": {
				"en": "Notify me"
			}
		}
	]
}
{% endschema %}