

<div class="container mx-auto flex flex-wrap justify-between px-2 sm:px-4 xl:px-0 pt-8">
  {% include 'breadcrumbs' %}
</div>

<div class="container mx-auto flex flex-wrap justify-between px-2 sm:px-4 xl:px-0 py-8">
  <div 
    class="{{ section.settings.column_width_mobile }} {{ section.settings.column_width_tablet }} {{ section.settings.column_width_desktop }} mb-6 md:pr-12"
  >
    <div class="product-image-slider">
      {% if product.media.size > 1 %}
        <div class="product-image-large relative">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides">
              {% for media in product.media %}
                <li class="glide__slide">
                  {% include 'media', media: media %}
                </li>
              {% endfor %}
            </ul>
          </div>
          <div class="" data-glide-el="controls">
            <button class="absolute top-1/2 transform -translate-y-1/2 bg-gray-600 hover:opacity-75 focus:outline-none opacity-50 h-8 w-8 rounded-full flex justify-center items-center ml-2" data-glide-dir="<">
              <svg class="w-6 w-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M15 19l-7-7 7-7"></path></svg>
            </button>
            <button class="absolute top-1/2 transform -translate-y-1/2 right-0 bg-gray-600 hover:opacity-75 focus:outline-none opacity-50 h-8 w-8 rounded-full flex justify-center items-center mr-2" data-glide-dir=">">
              <svg class="w-6 w-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M9 5l7 7-7 7"></path></svg>
            </button>
          </div>
          <div class="-mt-6 flex justify-center relative" data-glide-el="controls[nav]">
            {% for image in product.media %}
              <button class="w-2 h-2 rounded-full bg-gray-200 block mx-1" data-glide-dir="={{ forloop.index }}"></button>
            {% endfor %}
          </div>
        </div>
      {% else %}
        {% include 'image', image_object: product.featured_image, alt: product.featured_image.alt, class: "w-full", disable_lazyload: true %}
      {% endif %}

      {% if product.media.size > 1 %}
        <div class="product-image-thumbnails mt-6 relative">
          <div class="glide__track" data-glide-el="track">
            <ul class="glide__slides h-24">
              {% for media in product.media %}
                <li class="glide__slide">
                  <img 
                    class="glide__image lazyload cursor-pointer h-full w-full object-contain"
                    data-index="{{ forloop.index0 }}"
                    data-src="{{ media.preview_image | img_url: '190x'  }}" 
                    alt="{{ media.alt | escape }}"
                  >
                </li>
              {% endfor %}
            </ul>
          </div>
          <div data-glide-el="controls">
            <button class="absolute top-1/2 transform -translate-y-1/2 bg-gray-600 hover:opacity-75 focus:outline-none opacity-50 h-8 w-8 rounded-full flex justify-center items-center ml-2" data-glide-dir="<">
              <svg class="w-6 w-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M15 19l-7-7 7-7"></path></svg>
            </button>
            <button class="absolute top-1/2 transform -translate-y-1/2 right-0 bg-gray-600 hover:opacity-75 focus:outline-none opacity-50 h-8 w-8 rounded-full flex justify-center items-center mr-2" data-glide-dir=">">
              <svg class="w-6 w-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" stroke="currentColor" viewBox="0 0 24 24"><path d="M9 5l7 7-7 7"></path></svg>
            </button>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="flex-1">
    <h1 class="text-2xl font-bold mb-2 text-font-color-darkest">{{ product.title }}</h1>

    <div class="text-3xl mt-4 mb-6">
      {{ product.selected_or_first_available_variant.price | money }}
      
      {% if product.compare_at_price_max > product.price %}
        <span class="text-xl italic -mt-1 line-through">{{ product.compare_at_price_max | money }}</span>
      {% endif %}
    </div>

    <script>
			var product_{{ product.id }} = {{ product | json }};
		</script>
  
    <form 
      x-data="add_to_cart({{ product.id }})"
      x-init="$watch('selected_id', change_variant)"
      action="/cart/add" 
      method="post" 
      enctype="multipart/form-data" 
      id="AddToCartForm"
    >
      <div class="max-w-sm">
        {% if product.variants.size > 1 %}
          {% if product.options.size > 1 %}
            <select class="rounded-md border border-gray-300 shadow-sm focus:border-button-primary w-full" x-model="selected_id">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
              {% endfor %}
            </select>
          {% elsif product.options.size == 1 and product.variants.size > 1 %}
            <label class="text-sm block mb-1">{{ product.options[0] }}</label>
            <select class="rounded-md border border-gray-300 shadow-sm focus:border-button-primary w-full" x-model="selected_id">
              {% for variant in product.variants %}
                <option value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>
              {% endfor %}
            </select>
          {% endif %}
        {% else %}
          <input type="hidden" name="id" value="{{ variant.id }}" />
        {% endif %}

        {% if section.settings.show_quantity_selector %}
          <div class="mt-2">
            <label for="quantity" class="text-sm block mb-1 {% unless section.settings.show_variant_labels %}hidden{% endunless %}">{{ 'products.product.quantity' | t}}</label>
            <input 
              type="number" 
              id="quantity" 
              name="quantity" 
              x-model="quantity"
              class="rounded-md border border-gray-300 shadow-sm focus:border-button-primary text-left w-16 mr-2 text-center"
            >
          </div>
        {% else %}
          <input 
            type="hidden" 
            name="quantity" 
            x-model="quantity"
          >
        {% endif %}
      </div>
      
      <div class="mt-4 max-w-xs">
        <button 
          @click.prevent="add_to_cart()"
          class="
            inline-flex items-center mt-4 w-full justify-center py-3 border border-gray-300 text-sm leading-5 font-medium rounded-md focus:outline-none transition ease-in-out duration-150
            {% if product.available %}
              text-button-primary-text bg-button-primary hover:bg-button-primary-hover border-transparent focus:bg-button-primary-hover active:bg-button-primary-hover
            {% else %}
              text-button-secondary-text bg-button-secondary hover:bg-button-secondary-hover border-gray-200 focus:bg-button-secondary-hover active:bg-button-secondary-hover cursor-not-allowed
            {% endif %}
          "
          {% unless product.available %}
            disabled
          {% endunless %}
        >
            <svg class="h-4 w-4 mr-1 fill-current" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
              <g data-name="1">
                  <path d="M413.12 295.76H150.46a15 15 0 01-14.89-13.23L116 117.66v-.43l-4.52-38H69.13a15 15 0 110-30h55.6a15 15 0 0114.9 13.23l4.54 38.23h297a15 15 0 0114.79 17.51l-28 165.1a15 15 0 01-14.84 12.46zm-249.33-30h236.66l22.92-135.1H147.73z"/>
                  <path d="M410.65 349.37H156.84a15 15 0 01-14.9-13.23l-16.6-139.69a15 15 0 1129.79-3.54l15 126.46h240.52a15 15 0 010 30zM191.41 448.16a44.49 44.49 0 1144.48-44.48 44.53 44.53 0 01-44.48 44.48zm0-59a14.49 14.49 0 1014.48 14.49 14.5 14.5 0 00-14.48-14.46zM370.13 448.16a44.49 44.49 0 1144.48-44.48 44.53 44.53 0 01-44.48 44.48zm0-59a14.49 14.49 0 1014.48 14.49 14.5 14.5 0 00-14.48-14.46z"/>
              </g>
            </svg>

            {% if product.available %}
              {{ 'products.product.add_to_cart' | t }}
            {% else %}
              {{ 'products.product.sold_out' | t }}
            {% endif %}
          
          </button>
        </div>
    </form>
    <div id="description" class="mt-6">
      {% if product.description != '' %}
        <h2 class="font-bold text-xl text-font-color-dark">{{ 'products.product.description' | t }}</h2>
        <div class="prose max-w-full">
          {{ product.description }}
        </div>
      {% endif %}
    </div>
  </div>

</div>


{% schema %}
{
  "name": {
    "en": "Product pages"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "en": "Show quantity selector"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_variant_labels",
      "label": {
        "en": "Show variant labels"
      },
      "default": true
    },
    {
      "type": "header",
      "content": {
        "en": "Column size"
      }
    },
    {
      "type": "select",
      "id": "column_width_mobile",
      "label": "Column Width - Mobile",
      "default": "w-full",
      "options": [{
          "value": "w-1/3",
          "label": "33.3%"
        },
        {
          "value": "w-1/2",
          "label": "50%"
        },
        {
          "value": "w-full",
          "label": "100%"
        }
      ]
    },
    {
      "type": "select",
      "id": "column_width_tablet",
      "label": "Column Width - Tablet",
      "default": "md:w-1/2",
      "options": [{
          "value": "md:w-1/6",
          "label": "16.6%"
        },
        {
          "value": "md:w-1/5",
          "label": "20%"
        },
        {
          "value": "md:w-1/4",
          "label": "25%"
        },
        {
          "value": "md:w-1/3",
          "label": "33.3%"
        },
        {
          "value": "md:w-2/5",
          "label": "40%"
        },
        {
          "value": "md:w-1/2",
          "label": "50%"
        },
        {
          "value": "md:w-3/5",
          "label": "60%"
        },
        {
          "value": "md:w-2/3",
          "label": "66.6%"
        },
        {
          "value": "md:w-4/5",
          "label": "80%"
        },
        {
          "value": "md:w-5/6",
          "label": "83.3%"
        },
        {
          "value": "md:w-full",
          "label": "100%"
        }
      ]
    },
    {
      "type": "select",
      "id": "column_width_desktop",
      "label": "Column Width - Desktop",
      "default": "lg:w-1/2",
      "options": [{
          "value": "lg:w-1/6",
          "label": "16.6%"
        },
        {
          "value": "lg:w-1/5",
          "label": "20%"
        },
        {
          "value": "lg:w-1/4",
          "label": "25%"
        },
        {
          "value": "lg:w-1/3",
          "label": "33.3%"
        },
        {
          "value": "lg:w-2/5",
          "label": "40%"
        },
        {
          "value": "lg:w-1/2",
          "label": "50%"
        },
        {
          "value": "lg:w-3/5",
          "label": "60%"
        },
        {
          "value": "lg:w-2/3",
          "label": "66.6%"
        },
        {
          "value": "lg:w-4/5",
          "label": "80%"
        },
        {
          "value": "lg:w-5/6",
          "label": "83.3%"
        },
        {
          "value": "lg:w-full",
          "label": "100%"
        }
      ]
    }
  ]
}
{% endschema %}
